*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.lists{
    border: 1px solid green;
}

.form-load-info{
    margin: 10px 10px 10px 20px;   
    padding: 5px;
}
.form-search{   
    padding: 5px;
    margin: 10px 10px 10px 20px;
}
.search{
    padding: 5px;
    margin: 0 0 0px 0;
    width: 270px;
}
.lists-search{
    border: 2px solid blue;
}
.add-new-film{
    padding: 10px;
    margin: 10px;
    border: 2px solid gray
}
ul{
    padding: 20px;
    background: lightcyan;
    margin: 10px;
}
li{
    list-style-type: none;
    padding: 3px;
}
button{
    padding: 5px;
    margin: 0 0 0 3px;
}
.add-new-film,form,input{
    margin-right: 10px;
}
.add-new-film>form{
    padding: 13px;
}
.add-new-film>h4{
    padding: 13px;
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: lemonchiffon;
    margin: 10px;
    border: 2px solid gray
}
.form-load-info{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
